@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Pacifico|Righteous');
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --trans: all .3s ease-in-out;
    --cor1: #262626;
    --cor1-2: #26262648;
    --cor2: #353535;
    --cor3: #f9f9f9;
    --cor4: white;
    --cor5: #e0e0e0;
    --cor6: #8f8f8f;
    --cor6-1: #818181;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div.interface {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.toFade {
    animation: fade 1.2s ease-in-out 1;
    -webkit-animation: fade 1.2s ease-in-out 1;
}

div.menu {
    position: absolute;
    width: 0%;
    height: 90%;
    top: 10%;
    left: 0px;
    background: var(--cor1);
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

div.menuactiv {
    position: absolute;
    visibility: visible;
    width: 10%;
    height: 90%;
    top: 10%;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

div.topo {
    position: absolute;
    width: 100%;
    height: 65px;
    top: 0px;
    padding-left: 10px;
    padding-top: auto;
    padding-bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background: var(--cor2);
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

div.view {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 65px;
    left: 10%;
    padding: 4px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: var(--cor3);
    overflow-y: scroll;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

div.viewExpand {
    width: 100%;
    left: 0%;
}

div.navHome {
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 5px 10px;
    top: 0px;
    left: 0px;
    z-index: 3;
    background: var(--cor1);
    transition: var(--trans);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

div.viewHome {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--cor5);
    transition: var(--trans);
    overflow-y: scroll;
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

div.logonav {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* Sub elementos */


/* Home */

div.topo div.menuBtn {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

div.topo div.menuBtn i.fas {
    color: var(--cor4);
    margin-left: 5px;
    margin-right: 10px;
    transform: scale(1.5);
    visibility: visible;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

div.topo div.menuBtn h4.titulo {
    font-size: 23px;
    font-family: 'Bree Serif', sans-serif;
    margin-left: 10px;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

div.navHome div.logonav img.logonav {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

div.navHome div.logonav label {
    color: var(--cor4);
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}

div.navHome ul.lista {
    width: 100px;
    height: 80%;
    list-style: none;
    outline: none;
    display: flex;
    flex-direction: row;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

div.navHome ul.lista a.link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    background: none;
    padding-left: 5px;
    border-radius: 7px
}

div.navHome ul.lista a.link:hover {
    background: var(--cor3)
}

div.navHome ul.lista a.link li {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 0;
}

div.navHome ul.lista a.link li i.fas {
    width: auto;
    height: auto;
    transform: scale(auto);
    color: var(--cor4);
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
    -webkit-transform: scale(auto);
    -moz-transform: scale(auto);
    -ms-transform: scale(auto);
    -o-transform: scale(auto);
}

div.navHome ul.lista a.link li label {
    width: auto;
    height: auto;
    font-family: 'Righteous', cursive;
    color: var(--cor4);
    font-size: 20px;
    margin-left: 10px;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

div.navHome ul.lista a.link:hover li i.fas,
div.navHome ul.lista a.link:hover li label {
    color: var(--cor1);
}

div.viewHome h3.titulo {
    color: var(--cor2);
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    margin: 0px;
}

div.viewHome h4.subtitulo {
    color: var(--cor2);
    font-family: 'Righteous', cursive;
    margin-top: 0px;
}

div.viewHome img.preview {
    width: 50%;
    position: relative;
    border-radius: 3px;
    transition: var(--trans);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

div.viewHome p.desc {
    position: relative;
    width: 75%;
    height: fit-content;
    font-size: 17px;
    color: var(--cor1);
    text-align: justify;
    text-indent: 3em;
    font-family: 'Bree Serif', sans-serif;
}

div.viewHome div.sobre {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    margin-top: 60px;
    margin-bottom: 60px;
}

div.viewHome div.sobre img.foto {
    width: 80px;
    height: 80px;
    margin: 0px;
    z-index: 1;
    transform: scale(1);
    border-radius: 50%;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

div.viewHome div.sobre img.foto:hover {
    transform: scale(1.1);
    transition: var(--trans);
    border-radius: 10px;
    z-index: 2;
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

div.viewHome div.sobre i.fab {
    width: auto;
    height: auto;
    margin: 0px;
    z-index: 1;
    transform: scale(4.3);
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
    -webkit-transform: scale(4.3);
    -moz-transform: scale(4.3);
    -ms-transform: scale(4.3);
    -o-transform: scale(4.3);
}

div.viewHome div.sobre i.fab:hover {
    transform: scale(4.9);
    transition: var(--trans);
    z-index: 2;
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
    -webkit-transform: scale(4.9);
    -moz-transform: scale(4.9);
    -ms-transform: scale(4.9);
    -o-transform: scale(4.9);
}

div.viewHome div.sobre i.fa-js-square:hover {
    color: #dddd1e;
}

div.viewHome div.sobre i.fa-html5:hover {
    color: #e4860b;
}

div.viewHome div.sobre i.fa-css3-alt:hover {
    color: #0f5ba1;
}

div.viewHome div.sobre i.fa-php:hover {
    color: #3c13cf;
}

div.viewHome label {
    position: relative;
    height: fit-content;
    max-width: 500px;
    margin-top: 20px;
    font-size: 35px;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: var(--cor1);
}

div.viewHome label.subDev {
    font-size: 20px;
}

div.viewHome p.descDev {
    position: relative;
    width: 45%;
    height: fit-content;
    font-size: 15px;
    color: var(--cor1);
    text-align: center;
    font-family: 'Bree Serif', sans-serif;
}

div.contentLogin {
    width: 40%;
    height: 95%;
    padding: 10px 5px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.login {
    height: 100%;
    top: 0px;
    overflow: hidden;
    background: var(--cor2)
}

div.login form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.login form input {
    width: 80%;
    height: 50px;
    margin: 3px auto;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 3px solid white;
    transition: var(--trans);
    font-size: 20px;
    font-family: 'Bree Serif', sans-serif;
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

div.login form label {
    font-size: 22px;
    color: var(--cor4);
    font-family: 'Bree Serif', sans-serif;
}

div.login form input:focus {
    outline: none;
    border-bottom: 3px solid #4c69a8;
    color: #4c69a8;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

div.login form button {
    width: 70%;
    height: 50px;
    margin-top: 10px;
    font-family: 'Bree Serif', sans-serif;
    font-size: 20px;
    background: transparent;
    border-radius: 50px;
    border: 2px solid var(--cor3);
    color: var(--cor3);
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

div.login form button:hover {
    background: var(--cor3);
    color: var(--cor2);
    transition: var(--trans);
    border-radius: 5px;
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

div.login div.icon {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

div.login div.icon img {
    position: relative;
    width: 36%;
    height: auto;
}

div.home {
    position: fixed;
    z-index: 6;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

div.home i.fas {
    width: 50px;
    height: 50px;
    color: var(--cor3);
    transform: scale(1.9) translateX(38%) translateY(38%);
    -webkit-transform: scale(1.9) translateX(38%) translateY(38%);
    -moz-transform: scale(1.9) translateX(38%) translateY(38%);
    -ms-transform: scale(1.9) translateX(38%) translateY(38%);
    -o-transform: scale(1.9) translateX(38%) translateY(38%);
}

div.home:hover {
    background: var(--cor3);
}

div.home:hover i.fas {
    color: var(--cor2)
}

div.view div.card {
    cursor: pointer;
    width: 90%;
    height: 300px;
    background: var(--cor6);
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--trans);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

div.view div.card:hover {
    transform: scale(1.01);
    border-radius: 7px;
    transition: var(--trans);
    background: var(--cor6-1);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

div.view div.card img.logopro {
    width: 120px;
    height: 120px;
    margin-top: -7px;
    margin-bottom: 5px;
}

div.view div.card label.nome,
div.view div.card label.titulo,
div.view div.card label.data {
    color: var(--cor1);
    font-family: 'Bree Serif', sans-serif;
}

div.view div.card label.nome {
    font-size: 15px;
}

div.view div.card label.titulo {
    font-size: 25px;
    margin: 0px;
}

div.view div.card label.data {
    font-size: 12px;
    font-style: italic
}

div.view div.card div.time {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.view div.card i.fas {
    align-self: flex-end;
    margin-right: 10px;
    color: #5e5e5e;
}

div.view div.card i.final {
    color: #35ff35
}

div.view div.card div.time img.foto {
    width: 60px;
    height: 60px;
    margin-left: 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

div.topo div.options {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: var(--trans);
}

div.topo div.activ {
    visibility: visible;
    opacity: 1;
    transition: var(--trans);
}

div.topo div.options div.btn {
    cursor: pointer;
    width: 60px;
    height: 100%;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.topo div.options div.btn i.fas {
    color: var(--cor4);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

div.topo div.options div.btn#novo:hover i.fas {
    color: #4c69a8
}

div.topo div.options div.btn#edit:hover i.fas {
    color: #36b62b
}

div.topo div.options div.btn#excluir:hover i.fas {
    color: #b81e1e
}


/* Resto do site */

div.menu img.logo {
    visibility: hidden;
    width: 0%;
    height: 0%;
    margin-bottom: 0px;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}

div.menu ul.lista {
    width: 100%;
    height: max-content;
    list-style: none;
    outline: none;
    display: flex;
    flex-direction: column;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

div.menu ul.lista a.link {
    text-decoration: none;
    width: 100%;
    height: 60px;
    padding: 0px;
}

div.menu ul.lista a.link:hover {
    text-decoration: none;
    background: var(--cor4);
}

div.menu ul.lista a.ativo {
    text-decoration: none;
    background: var(--cor4);
}

div.menu ul.lista a.link li {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    justify-content: center;
    padding-left: 0px
}

div.menu ul.lista a.link li i.fas {
    width: auto;
    height: auto;
    transform: scale(auto);
    color: var(--cor4);
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
    -webkit-transform: scale(auto);
    -moz-transform: scale(auto);
    -ms-transform: scale(auto);
    -o-transform: scale(auto);
}

div.menu ul.lista a.ativo li i.fas {
    color: var(--cor1);
}

div.menu ul.lista a.link:focus {
    outline: none;
}

div.menu ul.lista a.link:hover li i.fas {
    color: var(--cor1);
}

div.topo h4.titulo {
    color: var(--cor4);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--cor1-2)
}

::-webkit-scrollbar-thumb {
    background: var(--cor1)
}


/* fim */

@media (min-width:550px) {
    div.topo div.menuBtn h4.titulo {
        margin-left: -30px;
        transition: var(--trans);
        -webkit-transition: var(--trans);
        -moz-transition: var(--trans);
        -ms-transition: var(--trans);
        -o-transition: var(--trans);
    }
    div.topo div.menuBtn i.fas {
        visibility: hidden;
    }
    div.login form input {
        width: 70%;
    }
    div.login form button {
        width: 60%;
    }
    div.login div.icon {
        width: 75%;
    }
    div.viewHome div.sobre {
        width: 45%
    }
    div.menu ul.lista a.link li {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding-left: 30%
    }
    div.menu {
        width: 10%;
        height: 90%;
        top: 10%;
        padding-top: 0px;
        transition: var(--trans);
        visibility: visible;
        -webkit-transition: var(--trans);
        -moz-transition: var(--trans);
        -ms-transition: var(--trans);
        -o-transition: var(--trans);
    }
    div.view {
        width: 92%;
        left: 8%;
        transition: var(--trans);
        -webkit-transition: var(--trans);
        -moz-transition: var(--trans);
        -ms-transition: var(--trans);
        -o-transition: var(--trans);
    }
}

@media (min-width:720px) {
    div.view div.card {
        width: 48%;
        margin: 20px 1%;
    }
    div.login form input {
        width: 60%;
    }
    div.login form button {
        width: 50%;
    }
    div.login div.icon {
        width: 65%;
    }
    div.viewHome div.sobre {
        width: 35%
    }
    div.menu ul.lista a.link li {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding-left: 35%
    }
    div.menu ul.lista a.link li i.fas {
        transform: scale(1.2);
        transition: var(--trans);
        -webkit-transition: var(--trans);
        -moz-transition: var(--trans);
        -ms-transition: var(--trans);
        -o-transition: var(--trans);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
    div.menu {
        position: absolute;
        visibility: visible;
        width: 6%;
        height: 100%;
        top: 0%;
        padding-top: 5px;
        transition: var(--trans);
        -webkit-transition: var(--trans);
        -moz-transition: var(--trans);
        -ms-transition: var(--trans);
        -o-transition: var(--trans);
    }
    div.topo,
    div.view {
        width: 94%;
        left: 6%;
        transition: var(--trans);
        -webkit-transition: var(--trans);
        -moz-transition: var(--trans);
        -ms-transition: var(--trans);
        -o-transition: var(--trans);
    }
}

@media (min-width:1050px) {
    div.login form input {
        width: 50%;
    }
    div.login form button {
        width: 40%;
    }
    div.login div.icon {
        width: 55%;
    }
    div.viewHome div.sobre {
        width: 25%
    }
    div.menu img.logo {
        visibility: visible;
        width: 90%;
        height: 60px;
        max-width: 60px;
        transition: var(--trans);
        -webkit-transition: var(--trans);
        -moz-transition: var(--trans);
        -ms-transition: var(--trans);
        -o-transition: var(--trans);
    }
}

@media (min-width:1180px) {
    div.view div.card {
        width: 42%;
        margin: 5px 4%;
    }
    div.login form input {
        width: 40%;
    }
    div.login form button {
        width: 30%;
    }
    div.login div.icon {
        width: 45%;
    }
    div.menu ul.lista a.link li i.fas {
        transform: scale(1.5);
        transition: var(--trans);
        -webkit-transition: var(--trans);
        -moz-transition: var(--trans);
        -ms-transition: var(--trans);
        -o-transition: var(--trans);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }
    div.menu {
        transition: var(--trans);
        -webkit-transition: var(--trans);
        -moz-transition: var(--trans);
        -ms-transition: var(--trans);
        -o-transition: var(--trans);
    }
    div.topo,
    div.view {
        /* width: 100%; */
        /* left: 0%; */
        transition: var(--trans);
        -webkit-transition: var(--trans);
        -moz-transition: var(--trans);
        -ms-transition: var(--trans);
        -o-transition: var(--trans);
    }
}

@media (min-width:1780) {
    div.view div.card {
        width: 30%;
        margin: 5px 10%;
    }
    div.login form input {
        width: 30%;
    }
    div.login form button {
        width: 20%;
    }
    div.login div.icon {
        width: 35%;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}